/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/*reset end*/
.navigation {
  display: flex;
  justify-content: space-evenly;
}
.navigation a {
  text-decoration: none;
  color: black;
}
.sleeping-ad {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/img/girl-checking-phone.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sleeping-ad .section-container {
  opacity: 0.7;
  background: black;
  width: 50%;
  height: 30%;
  border-radius: 1%;
}
.sleeping-ad .section-container .better-sleep {
  color: white;
  text-align: center;
}
.sleeping-ad .section-container .better-sleep h1 {
  font-size: 3em;
  margin: 20px;
}
.sleeping-ad .section-container .better-sleep p {
  font-size: 2em;
}
.app-store {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.app-store .android-app a > img {
  height: 50px;
  flex: 1;
  margin-right: 20px;
}
.app-store .apple-app a > img {
  height: 50px;
  flex: 1;
}
.form-action {
  text-align: center;
}
.form-action input {
  height: 50px;
  padding: 15px;
  margin: 10px;
}
.form-action .button {
  display: inline-block;
  background-color: navy;
  cursor: pointer;
  width: 200px;
  height: 60px;
  font-size: 1.2em;
  border-radius: 10px;
  color: white;
  text-align: center;
  line-height: 10px;
}
.form-action .button:hover {
  background: purple;
  color: white;
}
