/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/*reset end*/
* {
  box-sizing: border-box;
  color: white;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #24252A;
}
html,
body {
  font-family: 'Oxanium', sans-serif;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.navigation .logo {
  width: 25rem;
  cursor: pointer;
}
.navigation li {
  display: inline-block;
  padding: 0 20px;
}
.navigation li a {
  transition: all 0.3s ease 0s;
}
.navigation a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.navigation a button {
  padding: 9px 25px;
  background-color: #4c0099;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
li a:hover {
  color: #9600f5;
}
a button:hover {
  background-color: white;
  color: #9600f5;
}
.sleeping-ad {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/img/girl-sleep.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sleeping-ad .section-container {
  opacity: 0.7;
  background: black;
  width: 50%;
  height: 30%;
  border-radius: 1%;
}
.sleeping-ad .section-container .better-sleep {
  color: white;
  text-align: center;
}
.sleeping-ad .section-container .better-sleep h1 {
  font-size: 3em;
  margin: 20px;
}
.sleeping-ad .section-container .better-sleep p {
  font-size: 2em;
}
.app-store {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.app-store .android-app a > img {
  height: 50px;
  flex: 1;
  margin-right: 20px;
}
.app-store .apple-app a > img {
  height: 50px;
  flex: 1;
}
.form-action {
  text-align: center;
}
.form-action input {
  height: 50px;
  padding: 15px;
  margin: 10px;
}
.form-action .button {
  display: inline-block;
  background-color: navy;
  cursor: pointer;
  width: 200px;
  height: 60px;
  font-size: 1.2em;
  border-radius: 10px;
  color: white;
  text-align: center;
  line-height: 10px;
}
.form-action .button:hover {
  background: purple;
  color: white;
}
footer {
  font-size: 1rem;
  margin: 5px 0;
}
footer a:hover {
  color: #9600f5;
  transition: all 0.3s ease 0s;
}
.aboutus {
  display: flex;
  justify-content: center;
  font-size: 5rem;
}
.aboutus h1 {
  border-radius: 50px;
  background-color: #4c0099;
  padding: 2rem;
  width: 35rem;
  text-align: center;
  margin-bottom: 30px;
}
.about-content {
  width: 75%;
  margin: 0 auto;
}
.about-content hr {
  border: 3px solid;
  border-color: #4c0099;
  margin: 30px 0;
}
.leftdev {
  border-radius: 30px;
  background-color: #4c0099;
  padding: 30px 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}
.leftdev .about-text {
  background-color: #4c0099;
  width: 45%;
}
.leftdev .about-text p {
  font-size: 2rem;
  background: #4c0099;
  text-align: justify;
}
.leftdev .about-text h2 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 20px;
  background: #4c0099;
}
.leftdev .img-container-left {
  width: 45%;
  display: flex;
  justify-content: flex-start;
}
.leftdev .img-container-left img {
  height: 250px;
}
.rightdev {
  border-radius: 30px;
  background-color: #4c0099;
  padding: 30px 0px;
  display: flex;
  justify-content: space-evenly;
}
.rightdev .about-text {
  background: #4c0099;
  width: 45%;
}
.rightdev .about-text p {
  font-size: 2rem;
  background: #4c0099;
  text-align: justify;
}
.rightdev .about-text h2 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 20px;
  background: #4c0099;
}
.rightdev .img-container-right {
  width: 45%;
  display: flex;
  justify-content: flex-end;
}
.rightdev .img-container-right img {
  height: 250px;
}
.updatebody {
  width: 75%;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  border-radius: 50px;
  background-color: #4c0099;
  padding: 2rem;
  width: 35rem;
  text-align: center;
  margin: 30px auto;
}
.version-header {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  text-decoration: underline;
  margin: 0 25px;
}
.prvupd {
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  padding: 10px;
}
.previous-version {
  display: flex;
  justify-content: center;
  text-align: center;
}
.previous-version li {
  font-size: 1.5rem;
  line-height: 25px;
}
.bugheader {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.bugreport {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bugreport label {
  margin: 1.5rem 0;
  font-size: 1.5rem;
}
.bugreport .emailinput {
  width: 15%;
}
.bugreport .bugdescription {
  width: 20%;
  padding: 7.5rem 15%;
}
.bugreport .submitbtn {
  width: 10%;
  margin: 1.5rem 0;
  background-color: #4c0099;
}
.upcoming {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  border-radius: 30px;
  background-color: #4c0099;
}
.upcoming h2 {
  font-size: 3.5rem;
  background-color: #4c0099;
}
.upcoming p {
  font-size: 2rem;
  background-color: #4c0099;
}
.features {
  display: flex;
  justify-content: space-evenly;
}
.features p {
  margin: 7px 0;
  font-size: 1.5rem;
  width: 40%;
  padding: 10px;
  border: 3px solid;
  border-color: #9600f5;
  background-color: #4c0099;
}
