.aboutus{
    display: flex;
    justify-content: center;
    font-size: @headersize4;
    h1{
        border-radius: 50px;
        background-color: @darkpurple;
        padding: 2rem;
        width: 35rem;
        text-align: center;
        margin-bottom: 30px;
    }
}
.about-content{
    width: 75%;
    margin: 0 auto;
    hr{
        border: 3px solid;
        border-color: @darkpurple;
        margin: 30px 0;
}
    }
.leftdev{
    border-radius: 30px;
    background-color: @darkpurple;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    .about-text{
    background-color: @darkpurple;
        width: 45%;
        p{
        font-size: 2rem;
        background: @darkpurple;
        text-align: justify;
        }
        h2{
        font-size: @headersize2;
        text-align: center;
            padding-bottom: 20px;
            background: @darkpurple;
    }
}
    .img-container-left{
        width: 45%;
        display: flex;
        justify-content: flex-start;
        img{
            height: 250px;
        }
    }
}
.rightdev{
    border-radius: 30px;
    background-color: @darkpurple;
    padding: 30px 0px;
    display: flex;
    justify-content: space-evenly;
    .about-text{
        background: @darkpurple;
        width: 45%;
        p{
        font-size: 2rem;
        background: @darkpurple;
        text-align: justify;
        }
        h2{
            font-size: @headersize2;
            text-align: center;
            padding-bottom: 20px;
            background: @darkpurple;
        }
    }
.img-container-right{
    width: 45%;
    display: flex;
    justify-content: flex-end;
    img{
    height: 250px;
    }
}
    }
